/* Background */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;

    background: #0d1b2a;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

/* Card */
.container {
    width: 430px;
    background: #1b263b;
    padding: 30px;
    border-radius: 15px;
    color: #e0e1dd;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* Heading */
.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Labels */
.container label {
    margin-top: 10px;
    display: block;
    font-size: 14px;
}

/* Inputs */
.container input {
    width: 100%;
    padding: 12px;
    margin-top: 4px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #415a77;
    color: #fff;
    font-size: 14px;
}

/* Button */
.container button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;

    background: #778da9;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.container button:hover {
    background: #e0e1dd;
}

/* Result */
#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
